<!DOCTYPE html>
<head>
    <title>
        Project Cars
    </title>
</head>

<body class="main_body">
    <p>To use Project Cars REST API consider only proper endpoints. Check details here:
        <a href="https://github.com/nixonsparrow/ProjectCars#project-cars" target="_blank">
            https://github.com/nixonsparrow/ProjectCars#project-cars</a>.
    </p>
    <p>Endpoints:
        <ul>
            <li>
                <a href="{% url 'car-list' %}">
                /cars/</a>    # GET, POST
            </li>
            <li>
                /cars/{id}    # DELETE
            </li>
            <li>
                /rate/        # POST
            </li>
            <li>
                <a href="{% url 'car-popular' %}">
                /popular/</a>  # GET
            </li>
        </ul>
    </p>
</body>